@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

body {
  margin: 0 auto;
  background-color: rgb(216, 216, 216);
}

.mainDiv {
  padding-right: 15rem;
  padding-left: 15rem;
}

.introDiv {
  text-align: center;
  color: grey;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.introDiv>.bigger {
  font-family: 'Roboto', sans-serif;
}

.bigger {
  font-size: 1.5rem;
}

