.productContainer {
    border: lightgray solid 1px;
    width: 300px;
    text-align: center;
    color: grey;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.redText {
    color: red;
}

.largerFont {
    font-size: larger;
    font-weight: bold;
}

button {
    border: lightgray 3px solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    padding: 0.5rem;
}

button:hover {
    background-color: white;
}

.allProductsContainer {
    display: inline-flex;
    justify-content: space-evenly;
}
