.flex {
    display: flex;
    justify-content: space-between;
}

.todosContainer {
    width: 350px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.topBorder {
    border-top: 2px solid rgb(226, 226, 226);
}

.paddingHalf {
    padding: 0.5rem;
}

.textCenter {
    text-align: center;
}

input {    
    border: lightgray solid 1px;
    margin-left: 0.5rem;
    width: 70%;
}

button {
    background-color: white;
    border: lightgray solid 1px;
    padding: 0.5rem;
    float: right;
    margin-right: 0.5rem;
}

button:hover {
    background-color: lightgrey;
}

.icon {
    padding-right: 0.5rem;
}

.inputDiv {
    padding-top: 0.7rem;
}